<div class="custom-font boxy span6 offset3 text-center">

	<h1 class="cool-font-big">Hello</h1>

	<br/>
	
	<h2 class="cool-font-small">OMG Hello
	</h2>

	<br/>

	<%= link_to 'Launch', pics_path, :class => 'btn btn-danger btn-large' %>

</div>