<div class="custom-font">
	<h2 class="cool-font-big text-center">These are my pictures</h2>

<% @pics.each do |pic| %>
	<div class="boxy span3">
		<h2>
			Hour <%= pic.hour %>
		</h2>
		<div>
			<%= image_tag pic.image.to_s %>
		</div>

		<p>
			<%= pic.emotion %>
		</p>

		<p>
			I learned that...
			<% pic.learned %>
		</p>
	</div>
<% end %>
</div>